    @import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-decoration: none;     /* Removes link-like view */
        font-family: 'Karla', sans-serif;
    } 
    
    body{
        background-color:  hsl(204, 43%, 93%);
    }
    
    .container{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        margin: 4rem 2rem 0 2rem;
    }

    .attribution { 
        font-size: 11px; 
        text-align: center; 
    }
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }


    /* ######################################### */
    /* ####### Join our community ####### */
    /* ######################################### */

    .joinOur {
        background-color: #FFFFFF;
    }

    h1 {
        color: hsl(179, 62%, 43%);
        margin-bottom: 2.25rem;
        font-size: 1.25rem;
    }

    .joinOur span {
        color: hsl(71, 73%, 54%);
        font-weight: 700;

    }

    .joinOur p {
        color: hsl(179, 62%, 43%);
        margin-top: 2rem;
    }

    /* ######################################### */
    /* ####### Monthly Subscription ####### */
    /* ######################################### */

    .mSub {
        background-color: hsl(179, 62%, 43%);
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
    }

    .midSection {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .pMonth {
        color: #E7EFF6;
        display: inline;
        margin-left: .5rem;
    }

    .price  {
        display: inline;
        font-size: 2rem;
        font-weight: 700;
    }

    .mSub p {
        margin: .5rem 0rem 1.75rem 0rem;
        color: #E7EFF6;
    }

    .signUpBtn {
        background-color: hsl(71, 73%, 54%);
        border: 0;
        height: 3rem;
        max-height: 3rem;
        flex-grow: 1;
        max-width: 16.5rem;
        border-radius: 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        color: #FFFFFF;
        font-size: 1rem;
        font-weight: 700;
        display: flex;
        align-items:center;
        justify-content:center;
    }

    .signUpBtn:hover{
        background-color: hsl(71, 73%, 46%);
    }

    /* ######################################### */
    /* ####### Why Us ####### */
    /* ######################################### */

    .whyUs {
        background-color: #49BFBD;
    }

    h2 {
        color: #FFFFFF;
        margin-bottom: 1.75rem;
        font-size: 1.15rem;
    }

    ul{
        list-style-type: none;
    }

    li {
        color: #E7EFF6;
        line-height: 1.5rem;
    }

    /* ######################################### */
    /* ######################################### */
    /* ####### Media Query Sensitives ####### */
    /* ######################################### */
    /* ######################################### */


@media (max-width: 768px) {
    .container{
        display: grid;
        grid-template-areas: 
        "joinOur"
        "mSub"
        "whyUs"
        ;
        grid-template-columns: 1fr;
    }
    .joinOur{
        grid-area: joinOur;
        padding: 2.0rem 1.5rem 2.25rem 1.5rem; 
        border-radius: 5px 5px 0 0 ;
    }
    .mSub {
        grid-area: mSub;
        padding: 1.875rem 1.5rem 1.5rem 1.5rem;
    }
    .whyUs{
        grid-area: whyUs;
        padding: 1.875rem 1.5rem;
        border-radius: 0 0 5px 5px;
    }
}

@media (min-width: 768px) {


    .container{
        display: grid;
        grid-template-areas: 
        "joinOur joinOur"
        "mSub whyUs"
        ;
        grid-template-columns: 1fr;
        max-width: 40rem;
        margin-right: auto;
        margin-left: auto;
    }
    .joinOur{
        grid-area: joinOur;
        padding: 2.0rem 2.4rem 2.25rem 2.4rem; 
        border-radius: 5px 5px 0 0 ;
    }
    .mSub {
        grid-area: mSub;
        padding: 1.875rem 1.5rem 1.5rem 2.4rem;
        border-radius: 0 0 0 5px;
    }
    .whyUs{
        grid-area: whyUs;
        padding: 1.875rem 2.4rem 1.875rem 1.5rem;
        border-radius: 0 0 5px;
    }
}